
<style>
	.table {
		width: 60%;
		border: 10px solid transparent;
	}
</style>

<p>Find me in app/views/welcome/index.html.erb</p>
<h1> Election Tipping </h1>
<div class="page"></div>

<script id="partieslist-template" type="text/template">
	// <h2> Party List </h2>
	// <table class="table striped">
	// 	<%% _.each(partieslist, function(party){ %>
	// 		<tr>
	// 		<td><%%= party.get("name"); %></td>
	// 		<td><%%= party.get("odds"); %></td>
	// 		<td><a href="#/parties/<%%= party.id; %>" class="btn">Candidates
	// 		</a></td>
	// 		</tr>
	// 	<%% }); %>
	// </table>
</script>




<br><br>
<br>
<h3>css sample</h3>
<h1>heading 1</h1>
<h2>heading 2</h2>
<h3>heading 3</h3>
<p> paragraph </p>

<table class="table striped">
	<thead>
		<tr>
			<th>h1</th>
			<th>h2</th>
			<th>h3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>item1</td>
			<td>item2</td>
			<td>item3</td>
		</tr>
		<tr>
			<td>item1</td>
			<td>item2</td>
			<td>item3</td>
		</tr>
	</tbody>
</table>
<hr/>

<a href="#">link</a>