
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">-->

<br>
<br>
<div class="container">
	<br>
	<h1> Election Tipping </h1>
	<div class="page"></div>
	<div class="chart"></div>
	<div class="test"></div>
	<br>
	<br>
