/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* GLOBAL */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

.container {
	text-align: center;
	background: rgba(225,225,225,0.65);
	z-index: 100;
	
    position: relative;
}

body{
	width: 80%;
	height: 90%;
  	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
	background: url("bg.jpg");
	background-color: #cccccc;
	background-size: cover;
}

h1{
	color: navy;
	font-size: 3em;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 50px;
	-webkit-text-stroke-width: 2px;
}

h2 {
	color: black;
	font-size: 2em;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 20px;
}

.party-table {
	font-family: 'Roboto Slab', serif;
	position: relative;
	z-index: 100;
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

td {
	font-size: 1.2em;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	border-bottom: 1px solid gray;
}

svg {
	background: rgba(225,225,225,0.65);
	margin-top: 20px;
	margin-bottom: 20px;
	/*margin-left: 60px;*/
	position: relative;
}

.axis {
	fill: none;
	stroke: gray;
	shape-rendering: scrispEdges;
	font-family: sans-serif;
	font-size: 11px;
}

text.party-value{
	fill: dimgray;
	font-family: "Roboto Slab", serif;
	font-size: 1.5em;
}


 text.party-name{
	fill: white;
	font-family: "Roboto Slab", serif;
	font-size: 1.5em;
	-webkit-text-stroke-width: 0.2em;
}

rect {
  -webkit-transition: fill 250ms linear;
}

rect:nth-child(odd) {
  fill: firebrick;
}

rect:nth-child(even) {
  fill: navy;
}

rect:hover {
  fill: red;
}
